<ng-template [ngIf]="isStartType()">
  <div mat-dialog-title>
    <h5 class="text-uppercase">Choose field size</h5>
  </div>
  <div mat-dialog-content>
    <mat-form-field>
      <input type="number" placeholder="Dimension of the field" matInput [formControl]="sizeControl">
      <mat-error *ngIf="sizeControl.hasError('max')">Max value is {{fieldMaxSize}}</mat-error>
      <mat-error *ngIf="sizeControl.hasError('min')">Min value is {{fieldMinSize}}</mat-error>
      <mat-error *ngIf="sizeControl.hasError('required')">Dimension is <strong>required</strong></mat-error>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button class="text-uppercase m-0" color="primary" mat-button [mat-dialog-close]="sizeControl.value" [disabled]="sizeControl.invalid">Play</button>
    <button class="text-uppercase m-0" color="primary" mat-button (click)="goToMainMenu()">Go to main menu</button>
  </div>
</ng-template>

<ng-template [ngIf]="isEndType()">
  <div mat-dialog-title>
    <h5 class="text-uppercase">The end</h5>
  </div>
  <div mat-dialog-content>
    <div class="m-1">
      <span class="ttt-cross text-uppercase" *ngIf="isFirstPlayerWins()">Player 1 wins</span>
      <span class="ttt-zero text-uppercase" *ngIf="isSecondPlayerWins()">Player 2 wins</span>
      <span class="text-uppercase" *ngIf="isDraw()">Draw</span>
    </div>
  </div>
  <div mat-dialog-actions>
    <button class="text-uppercase m-0" color="primary" mat-button (click)="playAgain()">Play again</button>
  </div>
</ng-template>
